---
import LayoutPage from "../layouts/LayoutPage.astro"
import Registro from "../components/Registro.jsx"
---

<LayoutPage>
    <div class="h-auto w-96 bg-gray-300 rounded-xl">
        <Registro client:load/>
    </div>
</LayoutPage>

<style>
     @media (max-width: 768px) {
        div {
            width: 90%;
        }
 
    }
</style>